.detalle {
  display: flex;
  justify-content: center;
}
.contenedor {
  display: flex;
  justify-content: center;
}
.texto {
  text-align: justify;
}
.titulo {
  text-align: center;
}
.contadorcontainer {
  display: flex;
  justify-content: center;
}
