.detalle {
  display: flex;
  justify-content: center;
}
.contenedor {
  display: flex;
  justify-content: center;
}
.texto {
  text-align: justify;
}
.titulo {
  text-align: center;
  font-weight: 900;
}
.contadorcontainer {
  display: flex;
  justify-content: center;
}
.precio {
  display: block;
  text-align: end;
  font-size: 1.5rem;
  font-weight: 700;
}
